@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.badge {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  padding: $spacing-xxs $spacing-md;
  white-space: nowrap;
  gap: $spacing-xs;
  @include typography(b6);

  &.badge-radius-default {
    border-radius: $radius-lg;
    &.badge-default {
      border: 1px solid var(--color-blue-300);
      background: var(--color-blue-300);
      color: var(--color-white-100p);
    }
    &.badge-active {
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
      background: var(--color-white-100p);
    }
    &.badge-warning {
      border: 1px solid var(--red-2);
      color: var(--color-white-100p);
      background: var(--red-2);
    }
  }
  &.badge-radius-rounded {
    border-radius: $radius-xs;
    &.badge-default {
      border: 1px solid var(--color-blue-300);
      background: #f6f9fd;
      color: var(--color-blue-300);
    }
    &.badge-active {
      border: 1px solid #5e9e77;
      color: #5e9e77;
      background: #ebfaf1;
    }
    &.badge-warning {
      border: 1px solid var(--red-2);
      color: var(--red-2);
      background: var(--red-4);
    }
  }
  &.badge-filter-type {
    min-width: 34px;
    padding: $spacing-sm $spacing-lg;
    @include typography(b5);
  }
}
