@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.select {
  position: relative;
  width: 100%;

  &-full {
    width: 100%;
  }

  &-control {
    @include flex(row, space-between, center);
    width: 100%;
    height: 40px;
    padding: 0 $spacing-xs 0 $spacing-xl;
    border: 1px solid var(--color-blue-200);
    border-radius: $radius-xs;
    background-color: var(--color-white-100p);
    text-align: left;
    transition: all 0.2s ease;
    &:hover {
      background: var(--color-blue-50);
    }
    &.select-blue {
      background: var(--color-blue-50);
      &:hover {
        background: var(--color-blue-100);
      }
    }
    &.select-sm {
      height: 34px;
      border-radius: $radius-xs;
    }
    .select-placeholder,
    .select-value {
      @include typography(b6);
      color: var(--color-blue-500);
      white-space: nowrap;
      & + .icon {
        background: var(--color-blue-500);
        transition: transform 0.2s ease;
      }
    }
  }

  &-open &-control {
    border-color: var(--color-primary);
    .select-placeholder,
    .select-value {
      color: var(--color-primary);
      & + .icon {
        background: var(--color-primary);
        transform: rotate(180deg);
      }
    }
    &.select-blue {
      .select-value {
        background-color: var(--color-blue-50);
      }
    }
  }

  &-disabled &-control {
    background: var(--color-blue-100);
    border-color: var(--color-blue-200);
    pointer-events: none;
    .select-placeholder,
    .select-value {
      color: var(--color-blue-300);
      & + .icon {
        background: var(--color-blue-300);
      }
    }
  }

  &-list {
    position: absolute;
    top: calc(100% + #{$spacing-xs});
    left: 0;
    width: 100%;
    min-width: 160px;
    max-height: 240px;
    padding: $spacing-lg 0;
    overflow-y: auto;
    background-color: var(--color-white-100p);
    border: 1px solid var(--color-blue-200);
    border-radius: $radius-xs;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  &-option {
    padding: $spacing-xs $spacing-2xl;
    @include typography(b3);
    color: var(--color-gray-500);
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      background-color: var(--color-blue-50);
    }
    &-selected {
      color: var(--color-primary);
    }
  }
}
